extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
     style 
         include ../static/style.css
         include ../static/styleabout.css

block content 
    div.container
        h1 About The Academy
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus minima, dolorum harum laudantium maiores numquam cupiditate. Adipisci excepturi, libero iure dicta aperiam, modi voluptate ut rem, perferendis neque sunt nisi inventore expedita voluptatum optio repellat beatae incidunt! Temporibus, voluptatum dolorem fuga minus, aliquam error cum optio architecto dolore magnam a? Ex et voluptate necessitatibus quidem dolores! Consequuntur porro aspernatur ab quisquam autem nesciunt nostrum accusamus, eligendi laudantium iusto deserunt illum doloribus maiores qui inventore perspiciatis natus velit quae, voluptas nulla placeat quis dignissimos numquam laboriosam. Deserunt? at assumenda quae, ut temporibus.