extends base.pug

block scripts 
  script(src='/static/index.js')

block style 
     style 
         include ../static/style.css 
         include ../static/styleacademy.css

block content 
    div.container
        h1 About Our Academy 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius asperiores totam iusto reiciendis dolorem ipsam vitae quae quod debitis quasi aliquid, deleniti dolores dolore ex veniam sapiente quam consequuntur est iure voluptates accusantium. Facilis similique vel aliquid mollitia, fugit voluptatem distinctio reiciendis eaque quos? Aspernatur, dolorum. Et, saepe. Quam libero quibusdam voluptates optio reiciendis atque earum cum quisquam nihil in consequuntur, laudantium ducimus, sequi officia quas! Repudiandae facilis reiciendis rerum enim necessitatibus laudantium ex velit, quas non beatae, blanditiis quibusdam amet ratione vel, optio dignissimos at provident rem minus ab neque esse doloribus facere inventore. Possimus odio laboriosam consectetur labore dolorum cumque ad, quo ipsam sed suscipit accusantium ipsum quidem nihil voluptates quam officiis. Modi, officiis? Qui vitae tempore dolorem debitis ducimus voluptatem quis ipsa harum, esse possimus cum hic corporis voluptate ab nesciunt molestiae mollitia libero nihil culpa corrupti eum sit accusantium. Cupiditate modi molestias vero ipsum minima eaque voluptatibus, facilis nostrum blanditiis hic? Maxime ipsam minima at? Exercitationem dicta, sit amet harum quae voluptatem culpa officiis iste quibusdam qui! Exercitationem maxime, placeat ratione adipisci nisi expedita ex. Eligendi aliquam, fugiat, quaerat earum a dignissimos eaque non magni rem mollitia quam odio libero ea repellat fugit quas maiores.